<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="userconnection" value="Integrated Security=True;Initial Catalog=Users;Data Source=(LocalDb)\MSSQLLocalDB"/>
		<add key="path" value="D:\Error.txt"/>
	</appSettings>
</configuration>